.addcategory {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: blue;
  }

  &__form {
    width: 50%;
  }

  &__input {
    padding: 10px;
    width: 100%;
    color: blue;
  }
}
